:root {
  --SoftRed: hsl(7, 99%, 70%);
  --Yellow: hsl(51, 100%, 49%);
  --DarkDesaturatedCyan: hsl(167, 40%, 24%);
  --DarkBlue: hsl(198, 62%, 26%);
  --DarkCyan: hsl(168, 34%, 41%);
  /* netural colors */
  --veryDarkDesaturatedBlue: hsl(212, 27%, 19%);
  --veryDarkGrayishBlue: hsl(213, 9%, 39%);
  --darkGrayishBlue: hsl(232, 10%, 55%);
  --grayishBlue: hsl(210, 4%, 67%);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Fraunces', serif;
  font-family: 'Barlow', sans-serif;
}
* a {
  text-decoration: none;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  font-size: 18px;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  max-width: 1440px;

  width: 100vw;
}
header {
  width: 100%;
  height: 100vh;
  background-image: url(images/desktop/image-header.jpg);
  background-size: cover;
  background-position: center center;
  overflow: hidden;
}

nav {
  display: flex;
  align-items: center;
  padding: 2em;
}
.nav-links {
  width: 30%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  margin-left: auto;
}
.nav-links li {
  list-style: none;
  margin-right: 1.5em;
}
.nav-links li a {
  color: white;
}
.contact-btn {
  width: 120px;
  height: 50px;
  border: none;
  border-radius: 50px;
  color: var(--veryDarkDesaturatedBlue);
  font-family: 'Fraunces', serif;
  background: white;
  cursor: pointer;
  transition: all 0.3s ease;
}
.contact-btn:hover {
  background: #83d6ffe5;
  color: white;
}
main {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 25% 20%;
}
main img {
  justify-self: center;
  align-self: end;
  grid-row: 2;
}

.heading {
  grid-row: 1;
  justify-self: center;
  align-self: end;
  font-size: 4rem;
  font-family: 'Fraunces', serif;
  color: white;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.main-content {
  display: grid;
  grid-template-columns: 50% 50%;
  /* grid-template-rows: repeat(4, 46%); */
}
.main-content-img img {
  width: 100%;
  height: 100%;
}
/* s */
.main-content-text {
  padding: 15%;
}
.main-content-text h2 {
  font-size: 2.8rem;
  font-family: 'Fraunces', serif;
  color: var(--veryDarkDesaturatedBlue);
  font-weight: 900;
  margin-bottom: 1em;
}
.main-content-text p {
  color: var(--darkGrayishBlue);
  line-height: 1.5;
  font-size: 1rem;
  margin-bottom: 2em;
}
.main-content-text a {
  /* box-shadow: 0px 4px 0px 0px black; */
  text-transform: uppercase;
  font-family: 'Fraunces', serif;
  color: var(--veryDarkDesaturatedBlue);
  font-size: 1rem;
  position: relative;
}
.l2::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 6px;
  background: var(--SoftRed);
  bottom: 3px;
  left: 0;
  z-index: -1;
}
.l::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 6px;
  background: var(--Yellow);
  bottom: 3px;
  left: 0;
  z-index: -1;
}

.main-content-both {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;

  position: relative;
}
.main-content-both h2 {
  font-family: 'Fraunces', serif;
  font-size: 2rem;

  z-index: 1;
}
.main-content-both p {
  margin-bottom: 13%;
  margin-left: 21%;
  margin-right: 21%;
  text-align: center;
  margin-top: 1em;

  z-index: 1;
}
.main-content-text-1 {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-content-both-img {
  width: 100%;
  height: 100%;
}
.f2 {
  color: var(--DarkBlue);
}
.f1 {
  color: var(--DarkDesaturatedCyan);
}
.testimonial {
  padding: 20px;
  width: 100%;
}
.all-testimonials {
  display: flex;
  width: 100%;
}
.testimonial-heading h2 {
  color: var(--darkGrayishBlue);
  font-family: 'Fraunces', serif;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin: 2em 0;
  font-size: 1.4rem;
}
.users-review {
  width: 33.33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  text-align: center;
}
.testimonial-heading {
  text-align: center;
}
.client-img {
  overflow: hidden;
  border-radius: 100%;
}
.client-img img {
  width: 70px;
  height: 70px;
}
.review p {
  margin-top: 2em;
  color: var(--veryDarkGrayishBlue);
  line-height: 1.6;
}
.client-name {
  margin-bottom: 1.2em;
}
.client-name h3 {
  font-size: 1.4rem;
  color: var(--veryDarkDesaturatedBlue);
  font-family: 'Fraunces', serif;
  margin-top: 2em;
}
.client-name p {
  font-size: 0.9rem;
  margin-top: 0.5em;
  color: var(--darkGrayishBlue);
}
.images-sect {
  display: grid;
  grid-template-columns: repeat(4, 25%);
}
.images-sect img {
  width: 100%;
}

footer {
  padding: 60px;
  width: 100%;
  background: #90d4c5;
  text-align: center;
}
.footer-logo {
  margin: 2em 0;
}
.footer-logo img {
  width: 12%;
}
.footer-links {
  margin: 4em 0;
}
.footer-links a {
  color: var(--DarkCyan);
  margin-left: 2em;
}
.footer-social-app a img {
  width: 25px;
}
.footer-social-app a {
  margin-left: 2em;
}
.footer-links a:first-of-type,
.footer-social-app a:first-of-type {
  margin-left: 0;
}

/* Hamburger */
.hamburger {
  display: none;
  cursor: pointer;
}
.line {
  width: 35px;
  height: 4px;
  border-radius: 5px;
  background-color: white;
  margin-top: 8px;
}
.line:first-of-type {
  margin-top: 0;
}

@media (max-width: 786px) {
  .hamburger {
    display: block;
    margin-left: auto;
  }
  .nav-links {
    display: none;
  }

  nav {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav-mob {
    display: flex;
    flex-direction: column;
    background: white;
    position: absolute;
    right: 25px;
    top: 90px;
    width: 90%;
    align-items: center;
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 0 100%, 0 10%, 90% 9%);
  }
  .nav-mob li {
    margin-top: 2em;
  }
  .nav-mob li:first-of-type {
    margin-top: 4em;
  }
  .nav-mob li:last-of-type {
    margin-bottom: 2em;
  }
  .contact-btn {
    background: var(--Yellow);
    font-size: 1rem;
  }
  .nav-mob li a {
    color: var(--darkGrayishBlue);
  }
  header {
    background-image: url('images/mobile/image-header.jpg');
  }
  .heading {
    text-align: center;
  }
  main {
    grid-template-rows: 39% 20%;
  }
  .main-content {
    grid-template-columns: 100%;
  }
  .grid-mob {
    grid-row: 2;
  }
  .all-testimonials {
    flex-direction: column;
    align-items: center;
  }
  .users-review {
    width: 100%;
  }
  .images-sect {
    grid-template-columns: repeat(2, 50%);
  }
  .footer-logo img {
    width: 50%;
  }
}
